@mixin bd-radius {
  -webkit-border-radius: 1rem;
  -moz-radius: 1rem;
}

@mixin carousel {
  border-radius: 1rem;
  height: auto;
  margin: $mainMargin;
}

@mixin border($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  width: auto;
  border: 2px solid black;
  margin: 1rem auto;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}
