@media screen and (max-width: 576px) {
  button.navbar-toggler {
    color: white;
  }

  .navbar-toggler-icon {
    color: white;
  }

  .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
  }

  
}
