@import "variable";
@import "mixins";

@media screen and (max-width: 576px) {
  span.navbar-brand {
    margin: 0 auto;
  }

  .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
  }

  .container-fluid {
    width: 100%;
    display: block;
  }

  div.box-1,
  div.box-2 {
    width: 60%;
    margin: 1.5rem auto;
  }
}
